/**
*/

a{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover{
    text-decoration: none !important;
}

.ffm-svg-header{
    max-height:30px;
    position:relative;
    top:-7px;
}

.form-page {
    width: 100%;
    height: 100%;
    min-width: 1036px;
    padding: 0 15px;
    background: #ffffff !important;
}

.content-box h4 {
    text-transform: capitalize;
    padding: 15px 0;
}

.form-content-box{
    padding: 15px 30px !important;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.form-content-submit{
    padding: 15px;
    background-color: #fff;
    margin-bottom: 10px;
}

.reset-btn{
    margin-right: 10px;
}

.no-left{
    padding-left: 0 !important;
}

.ffm-text-header{
    font-weight: 400;
    font-size:2.0em;
    position:relative;
    right: 30px;
    top:3px;
}

img.settings-logo{
    width: 18px;
}
.settings-logo, .spin-logo{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a.dropdown-toggle:hover img.settings-logo, a:hover .spin-logo{
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

a.btn-square.btn-transparent{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a.btn-square.btn-transparent:hover, a.btn-square.btn-transparent:hover i.spin-logo:before{
    background: #669aa8 !important;
    color:white;
}

a i.spin-logo::before{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.around-table-actions{
    
}

.btn-square{
    border-radius: 0 !important;
}

.btn-transparent{
    background: transparent !important;
}

.key-logo{

}

.breadcrumb {
    list-style: none;
    background-color: #ffffff;
    list-style-type: none;
    font-size: 14px;
    line-height: 1.42857;
    color: #252d2f;
    border-bottom: 1px solid #00576e;
    height: 42px;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
}

.breadcrumb li {
    float: left;
}

.breadcrumb li a, .breadcrumb li span {
    display: block;
    text-align: center;
    padding: 11px;
    text-decoration: none;
}

.breadcrumb li a:hover{
    background-color: #669aa8;
    color: white;
}

.breadcrumb li a:after {
    margin-left:20px;
    content: '>>';
}

.navbar .navbar-brand {
    height: 42px;
}

.navbar-right > li > span {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #CCCCCC;
    font-weight: 700;
    text-transform: uppercase;
}

.ion-locked::before {
    content: "\f200";
}

nav.breadcrumb > li.active > span {
    font-weight:400;
    color: #999;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}

input[type='checkbox'].form-control{
    width: 36px;
}

.around_datatables{
    background: #FFFFFF;
    padding-top: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.23);
}

.paging_bootstrap{
    height: 40px;
}

/*for datatbles datepicker in header*/
label.date-picker-table input.form_datetime{
    margin-top: 4px;
}

.table-condensed > thead > tr > th{
    padding-left: 1px !important;
    padding-right: 1px !important;
}

.table-condensed > tbody > tr > td{
    cursor: pointer;
}

.product-table-header{
    padding-bottom: 3px;
}



.table-header header h4 {
    color: #d88940;
}


.salespeopleTable tbody tr{
    cursor: pointer;
}

/*Needed so the status dropdown button has no border-radius*/
.input-group.dropdown .btn{
    border-radius: 0 !important;
}

.modal .modal-header h3 {
    padding-bottom: 0;
    padding-top: 8px;
    padding-left: 15px;
    margin: 0;
    font-weight: 200;
    text-transform: none;
}

.bool-drop-btn{
    width: 100%;
    text-align: left !important;
}

.bool-drop-btn-caret{
    float: right;
    position: relative;
    top: -10px;
}

/*Class added to rows in Salespeople table with no row returned from the Web Service*/
.missing-from-web-service{
    background: #ccc !important;
    cursor: auto !important;
    opacity: .5;
}

.ffs-remove{
    font-feature-settings: 'none';
}

tbody tr.odd td, tbody tr.even td{
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

/*ffm-popover*/
.ffm-popover{
    
}

.popover {
    background: #00576e !important;
    color: #FFF;
    -webkit-border-radius: 5px 5px 7px 7px !important;
    -moz-border-radius: 5px 5px 7px 7px !important;
    border-radius: 5px 5px 7px 7px !important;
}

.popover.bottom .arrow:after{
    border-bottom-color: #00576e !important;
}

.popover.left .arrow:after{
    border-left-color: #00576e !important;
}

.bread-row{
    background: #fff;
    border-bottom: 1px solid #00576e;
}

.table-header-item{
    color: #00576e;
    font-size: 2rem;
    font-weight: 400;
}

.header-item-wrapper{
    
}

#productsTable tbody tr.disabled{
    background-color: #dcdcdc;
    
    color: #333;
}

.selected{
    background-color: #669aa8 !important;
    color: #FFFFFF !important;
}

.selected i::before {
    color: #fff;
}

.checker-header{
    position: relative;
    left: 9px;
}

.checker{
    position: relative;
    left: 6px;
}

.pdf-button{
    margin-bottom: 5px;
    font-size: 1.5em;
    margin-left: 5px;
}

.skus-match{
    background-color: lightpink !important;
    color: #fff !important;
}




