/**

*/

a{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover{
    text-decoration: none !important;
}

.ffm-svg-header{
    max-height:30px;
    position:relative;
    top:-7px;
}

.ffm-text-header{
    font-weight: 400;
    font-size:2.0em;
    position:relative;
    right: 30px;
    top:3px;
}

img.settings-logo{
    width: 18px;
}
.settings-logo, .spin-logo{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a.dropdown-toggle:hover img.settings-logo, a:hover .spin-logo{
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

a.btn-square.btn-transparent{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a.btn-square.btn-transparent:hover, a.btn-square.btn-transparent:hover i.spin-logo:before{
    background: #669aa8 !important;
    color:white;
}

a i.spin-logo::before{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.around-table-actions{
    position:relative;
    left:95px;
    top:0px;
}

.btn-square{
    border-radius: 0 !important;
}

.btn-transparent{
    background: transparent !important;
}

.key-logo{

}


/*

*/




.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    list-style-type: none;
    overflow: hidden;
}

.breadcrumb li {
    float: left;
}

.breadcrumb li a, .breadcrumb li span, .breadcrumb li span::before {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navbar .navbar-brand {
    height: 42px;
}

.navbar-right > li > span {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #CCCCCC;
    font-weight: 700;
    text-transform: uppercase;
}

.ion-locked::before {
    content: "\f200";
}


