<?php
/**
 * Local Configuration Override for DEVELOPMENT MODE.
 *
 * This configuration override file is for providing configuration to use while
 * in development mode. Run:
 *
 * <code>
 * $ composer development-enable
 * </code>
 *
 * from the project root to copy this file to development.local.php and enable
 * the settings it contains.
 *
 * You may also create files matching the glob pattern `{,*.}{global,local}-development.php`.
 */

return [
    'pricing_config' => [
        'debug' => TRUE,
        'by_sku_base_url' => 'https://svc.localhost/bySKU.php',
        'by_sku_userid' => 'jpalmer',
        'by_sku_password' => 'goodbass',
        'by_sku_method' => 'GET',
        'by_sku_object_items_controller' => 'customerlistitems',
        'by_sku_object_users_controller' => 'customers',
        'by_sku_object_sales_controller' => 'salespeople',
        'dql' => [
            'find_eager' => [
                'UserService' => 'SELECT user FROM Application\Entity\User user',
                'AddedProductService' => 'SELECT addedProduct FROM Application\Entity\AddedProduct addedProduct',
                'CheckboxService' => 'SELECT checkbox FROM Application\Entity\Checkbox checkbox',
                'PermissionService' => 'SELECT permission FROM Application\Entity\Permission permission',
                'PriceOverrideReportService' => 'SELECT priceOverrideReport FROM Application\Entity\PriceOverrideReport priceOverrideReport',
                'PriceOverrideService' => 'SELECT priceOverride FROM Application\Entity\PriceOverride priceOverride',
                'ProductService' => 'SELECT product FROM Application\Entity\Product product',
                'RolesService' => 'SELECT role FROM Application\Entity\Role role',
                'UserSession' => 'SELECT userSession FROM Application\Entity\UserSession userSession',
                'CustomerService' => 'SELECT customer FROM Application\Entity\Customer customer'
            ],
            'alias' => [
                'User' => 'user',
                'AddedProduct' => 'addedProduct',
                'Checkbox' => 'checkbox',
                'Permission' => 'permission',
                'Preferences' => 'preferences',
                'PriceOverride' => 'priceOverride',
                'Product' => 'product',
                'Role' => 'role',
                'UserSession' => 'userSession',
                'Customer' => 'customer'
            ]
        ],
        'ssl' => array(
            // Do not Verify server side certificate,
            // accept invalid or self-signed SSL certificates
            'verify_peer' => FALSE,
            'allow_self_signed' => TRUE,
            // Capture the peer's certificate
            'verify_host' => FALSE,
            'CN_match' => 'svc.localhost'
        ),
    ],
    'daily_cutoff' => [
        //'time_string' => 'today -1 year',
        'year' => 2017,
        'month' => 1,
        'date' => 1
    ],
    'doctrine' => array(
        'connection' => array(
            // default connection name
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\Mysqli\Driver',
                'params' => array(
                    'dbname' => 'pricing_2',
                    'user' => 'jpalmer',
                    'password' => 'goodbass',
                    'host' => 'localhost',
                    'port' => 3306,
                    'driver' => 'pdo_mysql',
                )
            )
        ),
        'driver' => array(
            // defines an annotation driver with two paths, and names it `my_annotation_driver`
            'my_annotation_driver' => array(
                'class' => 'Doctrine\ORM\Mapping\Driver\AnnotationDriver',
                'cache' => 'array',
                'paths' => array(
                    __DIR__ . '/' . __NAMESPACE__
                ),
            ),
            // default metadata driver, aggregates all other drivers into a single one.
            // Override `orm_default` only if you know what you're doing
            'orm_default' => array(
                'drivers' => array(
                    // register `my_annotation_driver` for any entity under namespace `My\Namespace`
                    'Application\Entity' => 'my_annotation_driver',
                    'User\Entity' => 'my_annotation_driver'
                )
            )
        )
    ),
    'db' => array(
        'driver'         => 'Pdo',
        'dsn'            => 'mysql:dbname=pricing_2;host=localhost',

        'username'       => 'root',
        'password'       => 'root'
    ),
    'service_manager' => array(
        'factories' => array(
            'Zend\Db\Adapter\Adapter'
                    => 'Zend\Db\Adapter\AdapterServiceFactory',
        ),
    ),
    'view_manager' => [
        'display_exceptions' => true,
    ],
];